.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.ecard {
    background: #fff;    
    padding: 0px;
    width: 300px;
    margin: 30px;
    background-color: #fff;

    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(154, 196, 235);
    overflow: hidden; 
    
    /* transition: background-color 1.3s ease, transform 1.3s ease; */
    transition: right 2s ease, background 2s ease; 
    overflow-y: auto;
}

.ecard h1 {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
    overflow-wrap: break-word;
    padding: 10px;
    position: relative;
    max-height: 100px;
}


.ecard img {
    border-radius: 10px;    
    width: 300px;
    height: 250px;
    padding: 10px;
}

.ecard .body {  
    display: flex;
    justify-content: center;
    gap : 10px;
    flex-direction: row  ;
    padding: 0px 10px 10px 10px;
    
    color: #000;
    position: relative;
}

.ecard .body p {
    
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;    
}

.ecard .body break {
    height: 1.2rem;
    border-left: 1px solid #000;
}

.ecard info {
    display: flex;
    justify-content: center;
    gap : 10px;
    flex-direction: row  ;
    padding: 0px 10px 10px 10px;
    
    color: #000;
    position: fixed;
}

.ecard:hover {
    background: #9ce4f3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: visible;
}

.ecard:hover img, .ecard:hover h1, .ecard:hover .body {
    opacity: 0;
}



