.heading h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: monospace;
    font-size: 42px;
    border-bottom: 2px solid black;
    background-color: lightsteelblue;
    padding: 10px;
    margin: 10px;
    color: black;
}