.heading h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 42px;
    border-bottom: 2px solid black;
    padding: 10px;
    margin: 10px;
}