.icon{
    width:150px;
    height:100px;
    margin:0;
}
.con{
    z-index: 1;
    width:100vw;
}
.navbar{
    position:fixed;
    width:100vw;
    height:100px;
    display:flex;
    justify-content: space-between;
}
.heading{
    font-family:monospace  ;
    font-size:50px;
    color:#CCD1D1  ;
    font-weight:bold;
    margin-right:5px;
}