.container {
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.acard {
    width: 80%;
    height: 100%;
    max-height:110px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: #000 0px 4px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    font-family: monospace;
    transition: scale 1s;
}

.acard h5 {
    font-size: 1.1rem;
    font-family: monospace;
    margin: 0;
}

.acard p {
    font-family: monospace;
    overflow: hidden;
}

.acard:hover {
    scale : 1.05;
    cursor: pointer;
}


