.main{
    padding: 0 20%;
    font-family: monospace;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top button{
    float: right;
    height: 50px;
}

.options{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option{
    background-color: grey;
    height: 80px;
    font-size: 32px;
    padding: 10px;
    border-radius: 3%;
    cursor: pointer;
}

.buttons{
    display: flex;
    gap: 10px;
}