.container-fluid {
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.ecard { 
    padding: 0px;
    width: 300px;
    height: 400px;
    margin: 25px;
    background-color: #fff;

    box-shadow: #000 0px 4px 8px 0px;
    overflow: hidden; 

    transition: scale 1s;
}

.ecard h1 {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    overflow-wrap: break-word;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.ecard h3 {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    overflow-wrap: break-word;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.ecard img {
    width: 300px;
    height: 250px;
    padding: 10px;
}

.ecard .body {  
    display: flex;
    justify-content: center;
    gap : 10px;
    flex-direction: row ;
    padding: 0px 10px 10px 10px;
    
    color: #000;
    position: relative;
}

.ecard .body p {   
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;   
}

.ecard .body break {
    height: 1.2rem;
    border-left: 1px solid #000;
}

.ecard:hover {
    scale : 1.05;
    cursor: pointer;
}



